.aviation__features-feature{
    flex: 1;
    margin-top: 2.5rem;
}
.aviation__features-feature{
    padding: 42px 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.aviation__features-feature h3{
    margin-bottom: 1rem;
    font-family: var(--font-family);
font-weight: 800;
font-size: 24px;
line-height: 150%;
text-align: center;
color: #030522;
}
.aviation__features-feature p{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
color: rgba(3, 5, 34, 0.65);
}
.aviation__features-feature button{
    border: none;
    cursor: pointer;
}