*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.App{
  max-width: 1440px;
  margin: 0 auto;
}

.section__padding{
  padding: 0 7.5rem;
}
.gradient-bg{
  position: relative;
  background: radial-gradient(50% 50% at 50% 50%, rgba(18, 20, 78, 0.9) 0%, #010223 100%);
}

a{
  color: unset;
  text-decoration: none;
}